@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

html {
  font-size: 10px;
  font-family: font-family: 'Anonymous Pro', monospace;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: lightgrey;
  height: 8rem;
  width: 90rem;
  z-index: -3;
  transform: translate3d(-50%, -50%, 0);
  font-size: 4.5rem;
}

.min-handle {
  background-image: url('../images/min-handle.svg');
  height: 8rem;
  width: 5.4rem;
  background-repeat: no-repeat;
  transform: translate3d(-30%, -100%, 0);
}

.min-handle-box {
  position: relative;
  bottom: 100%;
  left: 0;
}

.max-handle {
  background-image: url('../images/max-handle.svg');
  height: 8rem;
  width: 5.4rem;
  background-repeat: no-repeat;
  transform: translate3d(-35%, 100%, 0);
}

.max-handle-box {
  position: relative;
  bottom: 100%;
  right: 0;
}
