@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

html {
  font-size: 10px;
  font-family: 'Anonymous Pro', monospace;
}

.center-box {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: lightgrey;
  height: 8rem;
  width: 90rem;
  z-index: -3;
  transform: translate3d(-50%, -50%, 0);
  font-size: 4.5rem;
}

.array-letter {
  position: relative;
  font-size: 4.5rem;
  display: inline-block;
  padding: 0 .2rem 0 .2rem;
}

.letter-container {
  position: fixed;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
  overflow: visible;
  white-space: nowrap;
  height: 100%;
  white-space: nowrap;
}

.min-handle {
  background-image: url('../images/min-handle.svg');
  height: 8rem;
  width: 5.4rem;
  background-repeat: no-repeat;

}

.min-handle-group {
  transform: translate3d(-250%, -100%, 0);
}

.min-handle-text {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  color: black;
  text-align: center;
  transform: translateX(250%);
}

.max-handle-text {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  color: black;
  text-align: center;
  transform: translateX(250%);
}

.max-handle {
  background-image: url('../images/max-handle.svg');
  height: 8rem;
  width: 5.4rem;
  background-repeat: no-repeat;
  transform: translate3d(0);
}

.max-handle-group {
  transform: translate3d(-270%, 65%, 0);
}

.length-notification {
  position: fixed;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: white;
  overflow: visible;
  white-space: nowrap;
}

.length-note-helper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.75rem;
  color: black;
  z-index: -10;
  overflow: visible;
  white-space: nowrap;
}
/*end slider style*/


/*start word select style*/
#list-container {
  position: fixed;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  display: flex;
}

.slider-next {
  background-image: url('../images/next.svg');
  height: 5.4rem;
  width: 14.8rem;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: calc(50% + 35rem);
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
}

.drag-container {
  height: 79rem;
  display: flex;
  align-items: flex-end;
}

.word-box {

}

.random-word {
  font-size: 4rem;
  padding: 0 1rem 0 1rem;
  text-align: center;
  color: grey;
  line-height: 6rem;
}

#gradient-mask {
  position: fixed;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  background-image: url('../images/gradient-mask.svg');
  background-repeat: no-repeat;
  height: 80rem;
  width: 90rem;
  pointer-events: none;
}

.black-text {
  color: black;
}

.words-next {
  background-image: url('../images/next.svg');
  height: 5.4rem;
  width: 14.8rem;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: calc(50% + 37rem);
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
}
