.connectedSortable {
  list-style: none;
  padding: 0px;
  margin: auto;
}

.display li {
  display: inline;
}

.word-option {
  background-color: #d3d3d3;
  text-align: center;
}

.primary-option {
  background: red;
  margin-bottom: 25px;
  font-size: 30px;
}

/*.carou-control {
  background-color: black;
}*/

.carousel-item {
  height: 350px;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
  background-color: black;
  opacity: .25;
}

.connectedSortable li {
  display: inline;
  font-size: 2rem;
  padding: 2px;
}

.primarySortable li {
  font-size: 3rem;
  background: white;
  color: black;
}

*:focus {
  outline: none;
  border-color: #4aaaa5;
}

.btn {
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.pop-up {
  position:absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  width: 300px;
  background-color: white;
  border: black 5px solid;
  opacity: 0;
}

.pop-text {
  text-align: center;
  margin-top: 10%;
}

.pwordDisp {
  border: 2px black solid;
  background-color: #f9d78e;
  width: 95%;
  padding: 10px;
  font-size: 24px;
  margin: auto;
}

#copy-clip {
  width: 200px;
}

.plength {
  text-align: center;
}
