.connectedSortable {
  list-style: none;
  padding: 0px;
  margin: auto;
}

.display li {
  display: inline;
}

.word-option {
  background-color: #d3d3d3;
  text-align: center;
}

.primary-option {
  background: red;
  margin-bottom: 25px;
  font-size: 30px;
}

.carou-control {
  background-color: black;
}

.carousel-item {
  min-height: 300px;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.connectedSortable li {
  display: inline;
  font-size: 2rem;
}
