@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
  font-family: 'Anonymous Pro', monospace;
}

/*word length:*/
label {
  font-size: 25px;
}
/*word length value*/
#amount {
  font-size: 25px;
}

#word-length-text {
  position: relative;
  left: 50%;
  transform: translateX(-15%);
  margin-top: 15%;
  margin-bottom: -50px;
}

.btn-success {
  background-color: red;
}


.connectedSortable {
  list-style: none;
  padding: 0px;
  margin: auto;
  width: auto;

}

.display li {
  display: inline;
}

.word-option {
  background-color: #d3d3d3;
  text-align: center;
}

.primary-option {
  background: red;
  margin-bottom: 25px;
  font-size: 30px;
}


.connectedSortable li {
  display: inline;
  font-size: 25px;
  padding: 2px;
  padding-left: 5px;
}

.primarySortable li {
  font-size: 3rem;
  background: white;
  color: black;
}

*:focus {
  outline: none;
  border-color: #4aaaa5;
}

.btn {
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.pop-up {
  position:absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  width: 300px;
  background-color: white;
  border: black 5px solid;
  opacity: 0;
}

.pop-text {
  text-align: center;
  margin-top: 10%;
}

.pwordDisp {
  border: 2px black solid;
  background-color: #f9d78e;
  width: 95%;
  padding: 10px;
  font-size: 24px;
  margin: auto;
}

#copy-clip {
  width: 200px;
}

.plength {
  text-align: center;
}
